[2017-10-09 16:31] Siilwyn opened #4 "Micro package preset"
Based on our [earlier discussion](https://github.com/singapore/renovate/issues/901). :)

I'd like to put up a config preset for small focused package, aka [micro packages](https://github.com/parro-it/awesome-micro-npm-packages). What defines these packages is that they don't need much maintenance and only have a few dependencies. This translates to no version pinning, grouping of all dependencies

[2017-10-09 18:35] rarkins commented on #4
@Siilwyn thanks for the suggestion

I'll create this as a PR soon and let you know.

[2017-10-10 04:59] #4 closed

[2017-10-10 05:03] rarkins commented on #4
I've published this idea it into a new package called `renovate-config-config`. I decided to name your config `semverAllMonthly` because I don't think we can say that 100% of micro package authors would necessarily agree. You should then be able to configure your micro packages config as following:

[code]

Here is the definition of it:
[code]

[2017-11-02 05:57] rarkins opened #5 "Evaluate oao"
https://github.com/guigrpa/oao

[2017-11-23 19:25] rarkins opened #6 "Add preset for customising semanticPrefix"

[2017-12-18 02:03] edmorley opened #7 "Add grouping for angular.js monorepo"
Hi!

I see there is grouping support for Angular (as in v2+):
https://github.com/singapore/renovate-config/blob/dbe6d310deeb47be1438a28394fcbc386ffa7171/packages/renovate-config-monorepo/package.json#L12-L15
https://github.com/singapore/renovate-config/blob/dbe6d310deeb47be1438a28394fcbc386ffa7171/packages/renovate-config-group/package.json#L19-L27
https://github.com/singapore/renovate-config/blob

[2017-12-18 02:34] edmorley opened #8 "Semantic commit mode auto-detection problem"
In our initial PR (mozilla/treeherder#3025), the example commit messages contain the `fix(deps)` prefixes, even though we don't use semantic commits. This was initially confusing, since looking at the config docs, the default for `semanticCommits` is `null` ([from here](https://renovateapp.com/docs/configuration-reference/configuration-options#semanticcommits)) which is auto-detect, which presumab

[2017-12-18 06:04] rarkins commented on #8
Hi @edmorley,

You are right that semantic prefixes should be autodetected as false if they are not already in use in the repo.

I took a look at the mozilla/treeherder logs right now and see:
[code]

It seems like the third party semantic commits detector I use is a little too eager to classify as "eslint" - I saw this in one other repo recently too, so might dig into it more after this.

Anyway,

[2017-12-18 06:23] rarkins commented on #7
@edmorley this is done - see https://github.com/mozilla/treeherder/pull/3025

[2017-12-18 06:23] #7 closed

[2017-12-18 11:46] edmorley commented on #7
Many thanks :-)

[2017-12-18 12:51] edmorley commented on #8
Ah makes sense thank you. I've updated the PR summary to reflect that this was a auto-detection issue rather than a Renovate defaults vs `config:base` issue.

On a related note, I wonder if `config:js-app` should default to disabling semantic commit mode? (Presumably apps are less likely to not use it? Though I guess this wouldn't be necessary in a future where auto mode was more reliable?)

[2017-12-18 13:04] rarkins commented on #8
I don't think we can make the assumption that apps don't use semantic commits, so I think I'll leave it as-is. I'm going to try to reduce the false-positives though.

[2017-12-18 13:35] rarkins commented on #8
BTW I think I have spotted the problem. The commit analyzer is returning "eslint" as the semantic commit type. I need to confirm, but I'll probably add a rule so that "eslint" style semantic commits are considered *disable* as if there were none at all.

[2017-12-18 14:05] #8 closed

[2017-12-20 06:20] rarkins opened #11 "Automate publishing and dependencies"
e.g. `group` depends on `monorepo`

[2017-12-28 15:40] edmorley opened #12 "The includeNodeModules preset also clears bower_components"
The preset sets `ignorePaths` to an empty array, which means both of the default elements (`[‘/node_modules/’, ‘/bower_components/’]`) are removed, rather than just `node_modules`:
https://renovateapp.com/docs/configuration-reference/configuration-options#ignorepaths
https://github.com/singapore/renovate-config/blob/1ad87fa442859eea25768a751e5ca3e93692f59d/packages/renovate-config-default/package.

[2018-03-05 12:01] maciej-gurban opened #20 "Schedule every two weeks"
Is it possible to define custom schedule by defining a custom interval for the updates? We're currently using `after 9pm on sunday`, so would something like `after 9pm every second sunday` work?

[2018-03-05 12:04] rarkins commented on #20
Renovate uses a subset of the [later](https://bunkat.github.io/later/parsers.html#text) library for parsing schedules, so it would depend on whether it can support what you want.

I suggest you play around locally or in https://npm.runkit.com/ to see if any text strings parse as you wish, before adding any to your config or here.

[2018-03-05 12:20] rarkins commented on #20
This question on Stack Overflow sounds similar: https://stackoverflow.com/questions/32770561/calculate-dates-with-later-js

[2018-03-09 09:41] maciej-gurban commented on #20
Thanks for the suggestions!

Looks like that SO answer will work just fine. Here's the string I've used: `on the 2nd and 4th day instance on Sun at 21:00`.

As a side note, using runkit (and requiring later @ 1.2.0) it looks like our current phrase `after 9pm on sunday` should not work since it throws some errors with text parser.

[2018-03-09 09:42] #20 closed

[2018-03-09 09:42] rarkins commented on #20
Beware: “at” is not compatible with Renovate - it needs to be a range, eg “after 10pm”

________________________________
From: Maciej Gurban <notifications@github.com>
Sent: Friday, March 9, 2018 10:41:22 AM
To: renovateapp/renovate-config
Cc: Rhys Arkins; Comment
Subject: Re: [renovateapp/renovate-config] Schedule every two weeks (#20)

Thanks for the suggestions!

Looks like that SO answer will

[2018-03-09 09:47] maciej-gurban commented on #20
Good to know, is there a piece of code I could look at to understand why?

[2018-03-09 09:49] rarkins commented on #20
It’s more about how Renovate runs rather than any specific code. Renovate runs on hourly cycles + webhooks and cannot be guaranteed to run at the exact minute/second you define so you need to define a range of at least one hour granularity

________________________________
From: Maciej Gurban <notifications@github.com>
Sent: Friday, March 9, 2018 10:47:22 AM
To: renovateapp/renovate-config
Cc: Rhy

[2018-03-10 05:47] rarkins commented on #20
@maciej-gurban if you get a working schedule for this, could you submit a PR here to add "schedule:everyTwoWeeks" ?

[2018-03-11 04:56] rarkins opened #21 "Add monorepo https://github.com/material-components/material-components-web"

[2018-03-26 20:40] timReynolds opened #23 "Invalid configuration option: combinePatchMinorReleases"
I've tried setting up one of our larger services today to use renovate. Using the `config:base` option we'd end up with ~35 initial PRs so I was looking to tweak the settings to create larger PRs that group minors and patch versions.

Looking over the configuration I decided on the following;
[code]

Renovate now gives me the following error;
[code]

Based on the documentation I could see these op

[2018-03-27 04:34] rarkins commented on #23
The reason for the config error is that `combinePatchMinorReleases` is actually a config preset, rather than a native config option. So you would add it like this to remove the error:

[code]

However configuring it is redundant because:
(a) `:combinePatchMinorReleases` is included with `config:base`
(b) It's the same thing as `"separatePatchReleases": false`

So really the above config is the sam

[2018-03-27 13:54] timReynolds commented on #23
This fixed the issue.

[2018-03-27 13:54] #23 closed

[2018-03-27 14:02] timReynolds opened #24 "Private NPM packages showing warnings in on boarding PR"
I've tried to add an NPM token following the instructions ["Add an encrypted npm token to repository"](https://renovateapp.com/docs/deep-dives/private-modules) however my onboarding PR is still giving me warnings about private packages e.g. `@trussle/package-name`.

Is this incorrectly configured or does the onboarding PR not clear these warnings? I've tried issuing other tokens and using the enco

[2018-03-27 14:06] rarkins commented on #24
Assuming you're using private modules at the regular npmjs registry, then it's simplest to just configure the `npmToken` like you're doing. I'll take a look at the logs. Is the repo name three letters and starting with `b` ?

[2018-03-27 14:10] rarkins commented on #24
I can see in the logs that it's being successfully decrypted:
[code]

But I also see:
[code]

This implies that there is an `.npmrc` file checked into the repository, which would override the configured one you have.

If so, please add the config `"ignoreNpmrc": true` to your `renovate.json` and see if it changes the result. That setting tells Renovate to ignore any `.npmrc` in the repo.

[2018-03-27 14:14] timReynolds commented on #24
@rarkins Thanks for looking into this, that is probably the issue as that .npmrc file just has some configuration and not a token in it. Will try you suggestion and see what happens.

All the help is much appreciated.

[2018-03-27 14:20] rarkins commented on #24
FYI, I am going to make a code change to Renovate so that it automatically ignores any `.npmrc` in the repository if the user has configured one manually (i.e. like you've done). I think it's unintuitive otherwise.

[2018-03-27 14:39] timReynolds commented on #24
Updating the config resolved the issue.

Changing the default behavior would have helped us but it's hard for me to know the impact for everyone.

Having more information in the documentation would have been enough to help me resolve this myself.

Again thanks for all the help

[2018-03-27 15:07] #24 closed

[2018-03-28 15:08] hbetts opened #25 "Receiving Report for Invalid Configuration"
We're receiving a report for `Action Required: Fix Renovate Configuration` in the following issue - https://github.com/conventional-changelog/conventional-changelog/issues/302

I threw the JSON file into a JSON validator and it passes.

It's also the exact same file as we use for [`releaser-rools`](https://github.com/conventional-changelog/releaser-tools/blob/master/renovate.json).

[2018-03-28 15:12] rarkins commented on #25
Seems like the bot just closed it itself. I’ll look at logs later to see what error caused it and if we can prevent the config warning in such cases

[2018-03-28 19:05] rarkins commented on #25
Strangely, GitHub returned a 404 for the `renovate.json` even though it was included in the file list for the repo (and I assume existed). We catch that at the platform level and return null, which then manifested as "invalid JSON". I changed the logic to throw an error in such cases instead, to abort the renovation. The second time it ran was fine, so the issue was closed.

[2018-03-28 19:05] #25 closed

[2018-03-28 21:38] destroyerofbuilds opened #26 "Validation Error"
I have Renovate configuration package with a `package.json` file that contains the following configuration section:

[code]

When I run `yarn renovate-config-validator` I get the following error:

[code]

I went as far as having an `package.json` file with just the `renovate-config` section, but I still get the same error.

I can confirm that I started getting the validation error with version [11

[2018-03-28 21:47] ghost commented on #26
Sorry, I just realized I was reading that incorrectly. It's failing on the `renovate.json` file.

The `renovate.json` file is:

[code]

[2018-03-28 21:55] ghost commented on #26
it's failing on this line - https://github.com/renovateapp/renovate/blob/70ae736988ee8c61ecf328f799a088784f338d39/bin/config-validator.js#L12

It can't get `length` of undefined because `res` is now a promise object. There is no `errors` property on the promise object.

Looks like it was specifically this line change here - https://github.com/renovateapp/renovate/commit/b89f448#diff-f77a59981c7f76

[2018-03-28 22:02] #26 closed

[2018-03-29 11:15] jycouet opened #27 "Add Monorepo accounts"
Hi,

Here is a mono repo that I'm using: https://github.com/accounts-js/accounts

How should I config the monorepo in my `renovate.json` config?
How could I add this directly in your preset so that everyone benefit from the config?

Thx

[2018-03-29 11:19] rarkins commented on #27
They can be added here: https://github.com/renovateapp/renovate-config/tree/master/packages/renovate-config-monorepo

[2018-03-29 11:20] rarkins commented on #27
Specifically, to the dynamic sources section as it is using `lerna`: https://github.com/renovateapp/renovate-config/blob/master/packages/renovate-config-monorepo/generate.js#L49

[2018-03-29 11:53] #21 closed

[2018-03-29 13:07] #27 closed

[2018-04-05 11:17] rarkins commented on #5
Only supports synchronise versioning so not appropriate

[2018-04-09 14:11] rarkins opened #32 "Use depTypeList"
Remove direct references to dependencies, devDependencies and peerDependencies

[2018-04-27 17:01] destroyerofbuilds opened #42 "RENOVATE_NPMRC"
A follow up to https://github.com/renovatebot/pro/issues/11

I am setting `RENOVATE_NPMRC` to `registry=http://artifactory.example.com/artifactory/api/npm/npm/\n@scope:registry=http://artifactory.example.com/artifactory/api/npm/npm-scope/`

Renovate seems to get the `registry` configuration value correctly, but the `@scope:registry` property is not set. Therefore, all requests for `@scope` package

[2018-04-28 12:12] rarkins commented on #42
@destroyerofbuilds I will try to reproduce this and fix it, if applicable. Maybe the `\n` is being escaped to `\\n` before it reaches our code and we need to add a simple search/replace.

[2018-04-29 17:04] #32 closed

[2018-04-30 08:13] rarkins commented on #42
Should be fixed in renovate@12.11.1: https://github.com/renovateapp/renovate/releases/tag/12.11.1

I will publish that to Renovate Pro latest soon too.

[2018-04-30 08:13] #42 closed

[2018-04-30 21:47] jenniesyip commented on #20
@maciej-gurban What's the final string that worked for you?

[2018-05-06 05:26] rarkins opened #44 "Add community presets"
Avoid needing to publish own to nom

[2018-05-10 17:32] jfairley opened #46 "@fortawesome group"
I'd like to configure my repos to update `@fortawesome` dependencies in bulk, but I'm struggling to understand how to make it happen. Can someone show me how this is supposed to work?

My dependencies are:

[code]

Thanks!

[2018-05-10 17:34] jfairley commented on #46
I'm also interested in grouping webpack and webpack loaders. Should I make a separate issue to ask for help with that?

[2018-05-10 17:37] rarkins commented on #46
Are fortawesome from a common monorepo? Or identified by @fortawesome/* ?

I don’t want to make any rule that’s “select fortawesome packages that jfairley uses” but it’s fine if it’s like the others and from a common repo or covering everything they release.

For webpack, raise a separate issue for that so we can decide what’s best

[2018-05-10 17:40] jfairley commented on #46
@rarkins, Oh I was expecting to have to set it up in my custom `renovate.json`.

AFAIK, it's not a monorepo. In fact, it seems that they're not even all public repos.
https://github.com/FortAwesome shows the angular repo I'm using, but the others I don't see (probably because they're private).

[2018-05-10 17:42] jfairley commented on #46
It'd be awesome if I could say in my `renovate.json`, "anything in this array" or "anything that matches this regex" should be bulk updated.

[2018-05-10 17:45] rarkins commented on #46
Oh ok, this is actually the repo for shared presets. Can you raise in renovatebot/config-help instead? Anything in your own Renovate config is fine of course :)

[2018-05-10 17:45] #46 closed

[2018-05-10 17:58] rarkins opened #47 "Rename repo"
It’s too confusing with the config-help one. I suggest calling it “presets”.

[2018-05-10 18:06] jfairley commented on #46
Ah. I didn't see that repo. Someone else's config for `@types` is probably exactly what I want to do.

https://github.com/renovatebot/config-help/issues/25

Thanks!

[2018-05-10 18:07] rarkins commented on #46
Feel free to post your config there anyway, happy to help

[2018-05-10 18:10] jfairley commented on #46
https://github.com/renovatebot/config-help/issues/38

[2018-05-12 05:11] #47 closed

[2018-05-21 19:03] ghost commented on #42
Thank you @rarkins! I've confirmed the `latest` Docker image is working as desired.

[2018-05-22 06:46] rarkins opened #49 "Add back CI"

[2018-05-22 07:10] #49 closed

[2018-05-23 08:50] ryansmith94 opened #50 "Preset name not found within published preset config"
Hey, the bot created an [issue with our Renovate config](https://github.com/LearningLocker/xapi-validation/issues/49), but this had been working and I'm not sure what the issue is with the config unless something has changed here recently that means it's no longer valid.

This is [our Renovate config](https://github.com/LearningLocker/xapi-validation/blob/master/renovate.json):
[code]

[2018-05-23 09:00] rarkins commented on #50
@ryansmith94 sorry for the inconvenience. npmjs had a major problem yesterday where they "lost" something like 5-10 hours of published versions. The big problem is that some versions that were published successfully later disappeared - it would be less bad if it was only a matter of published versions never appearing in the registry, because then nobody would have upgraded to them. What I didn't r

[2018-05-23 09:00] #50 closed

[2018-05-23 15:55] ryasmi commented on #50
Hey @rarkins, no worries, thanks for the quick response 😄Ah haha nice. Cool, good to know all is well now. Sucks that you briefly got screwed by NPM, not the first time that's happened to someone haha.

[2018-05-23 16:19] rarkins commented on #50
@ryansmith94 unfortunately they are not acknowledging that they allowed versions to be published and then disappear. They treated it as a "publishing failed" problem and therefore considered the fix to be "publishing now doesn't fail anymore" and ignore that there's still a bunch of missing published versions. I think I republished all the ones I depend on now.

[2018-05-24 08:23] ryasmi commented on #50
@rarkins ah man, that sucks. You must have had a rough day tracking down the packages that failed to publish, bit annoying when you probably a bunch of other stuff to do. Nice, I'm sure someone will comment on this issue or create a new issue if something didn't get republished :smile:

[2018-05-31 08:45] ryansmith94 opened #56 "Prod dependencies unexpectedly pinned"
Hey, I've just noticed that [the production dependencies got pinned](https://github.com/HT2-Labs/jscommons/commit/e1591c67df2eb027d1f39006c831257082725286) for some of our repos.

The [renovate config for one of those repositories](https://github.com/HT2-Labs/jscommons/blob/master/renovate.json) is:

[code]

That config extends [our base config](https://github.com/HT2-Labs/renovate-config/blob/mas

[2018-05-31 09:02] rarkins commented on #56
Hi Ryan, sorry for the inconvenience here.

I changed some terminology in how to specify range behaviour recently although it was not intended that existing repositories should experience changes to behaviour.

The app's default behaviour should remain as "don't pin", but as you are chaining some presets, that might be where the difference is coming from. Obviously we don't want dependencies to be

[2018-05-31 09:08] rarkins commented on #56
Unfortunately the automerging pinning has come back again. I have raised https://github.com/HT2-Labs/renovate-config/pull/1 as an explicit workaround for your base config for now.

[2018-05-31 09:11] rarkins commented on #56
Here's your preset:
[code]

Then:
[code]

Then:
[code]

[2018-05-31 09:14] rarkins commented on #56
I published a new preset for now that sets that rangeStrategy to be "replace" rather than "auto". But I'd like to work out why Renovate incorrectly detects this lib is an app.

[2018-05-31 09:22] ryasmi commented on #56
No worries Rhys 👍 Thanks for the PR, I'll get that merged now. I'm also going to post a link to the docs here in case anyone else comes to this issue wondering what effect "replace" has on the behaviour.

https://renovatebot.com/docs/configuration-options/#rangestrategy

[2018-05-31 09:24] rarkins commented on #56
The reason it's detected as an app is that there's no `main` present. But that still shouldn't be a concern if you've explicitly specified it's a library presets, so I will retain the preset change permanently to explicitly set rangeStrategy to "replace" for libs. Sorry again for the inconvenience.

[2018-05-31 09:25] ryasmi commented on #56
Ah okay. Ok no worries, thanks for the quick help as always 👍

[2018-06-06 17:23] voxpelli opened #57 "Show: Grouping of unit test related javascript dependencies"
I created a preset of my own to enable me to group unit test related packages just like linter-packages can be grouped through the official presets.

The configuration can be found here: https://github.com/voxpelli/renovate-config-voxpelli/blob/master/package.json

An example of a PR can be found here: https://github.com/voxpelli/node-jekyll-utils/pull/13

I have made no attempt to list all unit t

[2018-06-06 17:27] rarkins commented on #57
Thanks @voxpelli, I think combining unit test packages is a good idea, also because they are perfect candidates for automerging (if the PR passes tests, few people are really going to dig into release notes first before manually merging).

[2018-06-07 13:58] maciej-gurban commented on #20
We started using `on the 2nd and 4th day instance on sunday after 9pm` since recently, but have been experiencing issues with some dependencies not getting update PRs. Not sure if it's related, but I'd hold off with adding a PR with this schedule in case there's some unlikely quantum bug that would be causing problems

[2018-06-07 14:06] rarkins commented on #20
@maciej-gurban are those missed schedules using the hosted github.com app, or self-hosted? If it's the app and you can remember which sunday(s), I can check logs as I retain for 30 days.

[2018-06-07 14:53] maciej-gurban commented on #20
The schedules are in public Github, but in a private repo under `Applifier` organization. We made the change on 3rd of May (introducing fortnightly schedule) and have seen updates for some dependencies but not for others. Here's the current config:
[code]

We haven't seen any updates for `webpack` for example.

[2018-06-07 15:11] maciej-gurban commented on #20
Since that update to schedule on 3rd of May there have been no updates to webpack

[2018-06-08 10:04] rarkins commented on #57
Maybe we start with the example you gave, e.g. with subgroups.

at top level, "test packages"
it consists of multiple test types below it, in case people want to apply separate rules:
- unit test packages
- integration test packages
- etc

[2018-06-08 10:51] rarkins commented on #57
@voxpelli I've now merged this idea into the official presets. You might also be interested in the "non major" groups I added too. i.e. group updates together but only non-major ones - separate each major update into its own PR.

[2018-06-08 12:03] voxpelli commented on #57
Thanks a lot @rarkins!

[2018-06-11 14:33] voxpelli opened #61 "Add a lintersNonMajor group?"
Major linter upgrades almost always break builds, but non-major ones should almost never do it.

Having a linters group limited to non-majors, like the `testNonMajor`, would be neat 👍

(Btw: Apart from my personal testing of your GitHub app, we're also trialing it internally at @Sydsvenskan now – works nicely so far 🎉)

[2018-06-18 21:05] ahmadnassri opened #63 "JSON Schema for validating configs"
would love to have a JSON schema (as an npm package) to use for validating our custom config as part of our build and release process.

the npm package should just expose the JSON schema itself, and users can adopt any JSON Schema testing tool to run the validation

[2018-06-20 11:57] rarkins commented on #63
Hi @ahmadnassri, I have an issue open for this in the main repo, which is probably where we'd generate it from: https://github.com/renovateapp/renovate/issues/545

If you have some experience/expertise with JSON schema, I'd really appreciate some guidance to get it moving. I think we basically just need to translate from our existing `lib/config/definitions.js`.

[2018-06-20 11:57] #63 closed

[2018-06-20 18:55] ahmadnassri commented on #63
excellent, I'll look there

[2018-07-21 06:24] rarkins commented on #61
@voxpelli since your suggestion here, I added the [updateTypes](https://renovatebot.com/docs/configuration-options/#updatetypes) field to `packageRules`, which should make it easier to write a rule like this. I think this concept of "non-major" might only apply when you have mixed groups though. e.g. if it's a monorepo then you want them grouped still even if they're major.

[2018-07-29 06:29] aldarund opened #71 "Add vue cli monorepo"
List of packages
https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue
They are released like this:
https://www.npmjs.com/package/@vue/eslint-config-prettier

[2018-08-19 10:18] rarkins opened #73 "create disableNode"
Should disable node managers as well as node engines and docker node

[2018-08-19 11:11] rarkins commented on #73
As per https://github.com/renovatebot/config-help/issues/81

[2018-09-07 00:12] Aghassi opened #78 "Create a group for Semantic Release"
It's not a monorepo, but there are parts of it that are loosely coupled.

https://github.com/semantic-release

So for example the `@semantic-release/git` type is tied to the normal `semantic-release` dependency. Ideally, group anyting with "semantic-release` in the name into a single PR as they probably need to move together anyway.

[2018-09-09 04:29] #78 closed

[2018-09-10 14:33] josuerios opened #81 "feat: preset to disable renovate for devDependencies"
Sometimes the amount of devDependencies is just too much, I think it would be good to have the option of disable Renovate for devDependencies.

https://github.com/renovatebot/presets/pull/80

[2018-09-21 16:00] #6 closed

[2018-09-27 08:04] aldarund opened #85 "group:allNonMajor dont group patch releases into one PR"
Here is custom preset used
https://github.com/nuxt/renovate-config-nuxt

Here is grouped PR https://github.com/nuxt/nuxt.js/pull/3986
And here is patch releases each was opened with a separate PR
https://github.com/nuxt/nuxt.js/pull/3979
https://github.com/nuxt/nuxt.js/pull/3981
https://github.com/nuxt/nuxt.js/pull/3977
etc
According to docs

They all should be in one PR, not a separate PR for eac

[2018-09-27 09:24] rarkins commented on #85
@aldarund 	thanks for the report, I will take a look

[2018-09-27 12:57] #85 closed

[2018-09-27 14:28] rarkins commented on #85
@aldarund after the fix, you can see all the patch updates have been combined into this PR: https://github.com/nuxt/nuxt.js/pull/3991

[2018-09-27 14:32] aldarund commented on #85
@rarkins ye, thanks. But now there other problem Release notes only embed for the first dependency as you can see in that PR

[2018-09-27 14:37] rarkins commented on #85
Many packages don’t actually write release notes for patch releases so it’s possible there’s just none others to display. I’ll check later though, in case.

[2018-09-27 14:39] aldarund commented on #85
@rarkins not the case, i checked it first.
See for example this previous PR for postcss-preset-env ^6.0.3 -> ^6.0.7
https://github.com/nuxt/nuxt.js/pull/3982
There is release notes. But in that new combined PR its still this update for postcss-preset-env but no release notes anymore.

[2018-09-27 15:22] rarkins commented on #85
Thanks for checking it. I think I know what the problem is and it's a strange one. The babel release notes are huge and meanwhile there's a limit to how many characters you can fit in a GitHub PR body, so a lot had to be truncated. Notice there's no "Created by Renovate Bot" footer there either. Anyway right now we do the simplest approach and simply truncate PR body text starting from the beginni

[2018-09-27 19:02] pi0 commented on #85
@rarkins WoW thank for this quick fix. Regarding reducing first post body size, we may break long release notes into more replies. I will put my proposal into renovatebot/renovate#2569.

[2018-09-28 16:48] evilebottnawi opened #86 "Add php/composer preset"
Will be great :+1:

[2018-09-28 17:19] rarkins commented on #86
Sorry, what specifically do you want it to do? Enable php/composer?

Now that the hosted app has composer lockfile updating, maybe it should be enabled by default in the app anyway.

[2018-09-28 17:24] alexander-akait commented on #86
@rarkins

Yes. Example:
[code]

Maybe you are right, will be great have zero configuration for projects.

[2018-10-01 19:02] rarkins commented on #86
composer is now enabled by default

[2018-10-01 19:02] #86 closed

[2018-11-09 18:44] ChristianMurphy commented on #11
Lerna could be a good option, https://lernajs.io
It's specialty is managing linked dependencies.

the workflow would look something like

[code]

select the version, the lerna builds a dependency tree of code in the monorepo, releasing leaf nodes/projects first, and working up the tree to parent nodes/projects.

The only gotcha I've run into so far is with two factor authentication, see https://gi

[2018-11-09 20:17] ChristianMurphy opened #90 "Add groupings for Java Spring monorepo"
Spring is a Java framework available through Maven Central on Maven and Gradle.
https://github.com/spring-projects/spring-framework
https://mvnrepository.com/artifact/org.springframework

Spring has several groupings

| name | group | example |
|-|-|-|
| Spring Core | `org.springframework` | `org.springframework:spring-context` |
| Spring Security | `org.springframework.security` | `org.springfram

[2018-11-09 20:30] ChristianMurphy opened #91 "Add groupings for Java Hibernate"
Hibernate is a Java framework available through Maven Central on Maven and Gradle.
http://hibernate.org
https://mvnrepository.com/artifact/org.hibernate

Hibernate has several groupings

| name | group | example |
|-|-|-|
| Hibernate Core | `org.hibernate` | `org.hibernate:hibernate-tools` |
| Hibernate Validator | `org.hibernate.validator` | `org.hibernate.validator:hibernate-validator-osgi` |
|

[2018-11-09 21:24] rarkins commented on #91
Should these all be separate groups, or all of the above combined into one PR?

[2018-11-09 22:17] ChristianMurphy commented on #91
These are each separate monorepo groups.

[2018-11-29 08:30] xPaw opened #94 "Add socket.io monorepo"
`socket.io` and `socket.io-client` would be main offenders, they share version number and release at the same time. I'm unsure if other socket.io repos can also apply.

[2018-12-11 10:31] #94 closed

[2018-12-11 10:34] rarkins commented on #94
It's not technically a "monorepo" because they come from different github repos. I've defined a new "group:socketio" for all packages matching `^socket.io`, included that in "group:recommended", which is included into "config:base".

[2018-12-11 10:35] xPaw commented on #94
That's true, but for the end user it kinda doesn't matter.

Thank you!

[2018-12-11 12:10] #71 closed

[2019-02-28 09:50] ViceIce opened #99 "feat: add angular cli monorepo"
Should angular cli be a monorepo? The release several packages from the [cli repo](https://github.com/angular/angular-cli#packages).

[2019-02-28 10:04] rarkins commented on #99
Sure, but let's start using [sourceUrlPrefixes](https://renovatebot.com/docs/configuration-options/#sourceurlprefixes) to simplify the rule here.

[2019-02-28 10:07] viceice commented on #99
Is it possible to add packagerules to the selfhosted renovate config? I tried that, i don't want to build an extra npm package.

[2019-02-28 10:08] viceice commented on #99
I'll send a pr.

[2019-02-28 10:20] ViceIce opened #100 "feat: yarn instead of npm"
Can we switch to yarn instead of npm for package references?

[2019-02-28 10:55] rarkins commented on #100
Can you give an example?

[2019-02-28 11:01] viceice commented on #100
i would simply use `yarn import` to generate a `yarn.lock` from `package-lock.json`.
Then remove `package-lock.json` and change `.travis.yml` to use `yarn` instead of `npm run`.

I can send a pr.

[2019-02-28 11:36] viceice commented on #100
Done

[2019-02-28 11:38] rarkins commented on #100
Any advantage apart from consistency across main repo and here?

[2019-02-28 11:41] viceice commented on #100
In our daily work yarn is mostly faster then npm.

[2019-02-28 11:45] rarkins commented on #100
Ok, I’ll be able to review later today when back to computer. Thanks

[2019-03-01 07:08] #99 closed

[2019-03-01 07:11] viceice commented on #99
Should we refactor existing mono repos where possible?

[2019-03-01 07:20] rarkins commented on #99
Yes but it's essentially a breaking change for anyone who's using a version of Renovate prior to when `sourceUrlPrefixes` was added. Mainly, I need to make sure all self-hosted Renovate Pro users have updated to the latest first.

[2019-03-01 07:27] viceice commented on #99
Ok, maybe we should add an anouncement (pinned issue) to the renovate repo?

Maybe we should add a version contraint to the renovate cli, that pin's the major version of the renovate core presets?

[2019-03-01 07:35] rarkins commented on #99
In general with an open source tool, users need to keep updated anyway (especially a tool whose purpose is updating..). I prefer not to confuse the majority of users with any pinned message only applicable to a small percentage of users who would be unlikely to see the message anyway.

The impact is that the existing "automatic" grouping would stop working, so it's not like the tool itself stops w

[2019-03-01 07:41] #100 closed

[2019-03-06 08:41] SimenB opened #104 "graphql-code-generator does not pick up packages from monorepo correctly"
Current entry:

[code]

It only picks up the 2 packages from the top level of `packages`, not the ones in `packages/*/*/package.json` (like all the packages in https://github.com/dotansimha/graphql-code-generator/tree/master/packages/plugins)

The entry was added in #45.

I tried to put together a PR, but I'm not sure how to provide pattern it should glob? Looking at the code, it seems I can just

[2019-03-06 08:51] rarkins commented on #104
Thanks for the heads-up. I'll take a look and fix it.

[2019-03-06 09:02] SimenB commented on #104
Woah, that was quick. Thanks!

[2019-03-06 09:04] rarkins commented on #104
I've switched this package to use sourceUrlPrefixes rather than a list of package names. That way the matching/grouping is done dynamically by Renovate at runtime and any npm package that reports its source repo as dotansimha/graphql-code-generator will be grouped. Do you have any public repo you were testing this on that we can use to verify it's working as intended?

[2019-03-06 09:06] SimenB commented on #104
It's a private repo, unfortunately

[2019-03-06 09:09] rarkins commented on #104
If you have any open PR right now and check the rebase checkbox, Renovate should run again on that repo and pick up the preset changes.

[2019-03-06 09:13] SimenB commented on #104
I closed the PRs, tried renaming one of the closed ones now like it told me to. Will report back 🙂

[2019-03-06 09:16] rarkins commented on #104
Actually just doing the rebase checkbox is probably easiest in future, as it should have been able to reuse the existing branch/PR. FYI when you ask to rebase any PR, Renovate actually runs on the entire repository to pick up changes, so it's more like a "rebase this PR and also check the entire repository for changes while you're at it" box.

[2019-03-06 09:19] SimenB commented on #104
Ah, ok. It doesn't seem to have worked though

![image](https://user-images.githubusercontent.com/1404810/53869763-231cb000-3ff9-11e9-8376-cb0e7e922dc1.png)

Was opened 10:09 (less than 10 minutes ago) not sure if the changes have been picked up?

[2019-03-06 09:20] rarkins commented on #104
It's possibly still cached. I'll test it out myself to be sure.

[2019-03-06 09:23] SimenB commented on #104
I ticked the rety box in it, still only changed that single package

[2019-03-06 09:30] rarkins commented on #104
I have partially reproduced. It seems that at least one of the packages is reporting a legacy repo source (https://github.com/dotansimha/graphql-codegen) in its `package.json`, which I can fix by adding an additional source url prefix to the presets.

[2019-03-06 09:36] rarkins commented on #104
Should now be fixed, example here: https://github.com/renovate-tests/test-graphql-gen/pull/4

[2019-03-06 09:36] #104 closed

[2019-03-06 09:45] SimenB commented on #104
I ticked `retry` and it just closed the PR?

![image](https://user-images.githubusercontent.com/1404810/53871628-e94da880-3ffc-11e9-81ed-eb38f2838e29.png)

[2019-03-06 09:47] rarkins commented on #104
Once they get grouped together, it's all under one branch. So any existing branches/PRs that had the wrong branch previously will be autoclosed.

Also, if you are using the default settings then Renovate limits itself to creating two PRs per hour maximum, so it's possible the replacement is rate limited. However if you had the monorepo PR already open, please refresh it as it should be updated.

[2019-03-06 09:50] SimenB commented on #104
Alright, thanks! Will report back in a few hours then 🙂

[2019-03-06 10:09] rarkins commented on #104
By the way, if you add `"masterIssue": true` to your config, you will see a convenient Issue created that gives you full visibility about Renovate's PRs - open, closed, and pending. You can see [this example in Renovate's repo](https://togithub.com/renovatebot/renovate/issues/2958).

[2019-03-06 10:11] SimenB commented on #104
Oh, that's awesome! Will add

[2019-03-06 10:15] SimenB commented on #104
While the master issue didn't immediately pop up, the codegen PR showed up correct now 🙂

![image](https://user-images.githubusercontent.com/1404810/53873648-169c5580-4001-11e9-8bef-d537c4971b88.png)

I'd change the name from `graphqlcodegenerator` to `graphql-code-generator`, but it works 🎉

[2019-03-06 10:16] rarkins commented on #104
Just to clarify: in the Renovate repo I'm actually using `"masterIssue Approval": true` to test that feature out. It actually holds back all PRs until you manually check/approve them. The basic `masterIssue` doesn't change any of the flow - it is just like a mini dashboard within the repo.

[2019-03-06 10:32] SimenB commented on #104
The master issue showed up as well now - it's awesome!

[2019-03-14 12:59] BrianChristie opened #105 "Migrate presets separateMajorReleases and separatePatchReleases"
The following config options were renamed in https://github.com/renovatebot/renovate/issues/1952
* multipleMajorPrs => separateMultipleMajor (false)
* separateMajorReleases => separateMajorMinor (true)
* separatePatchReleases => separateMinorPatch (false)

It looks like the default preset has not been updated and still sets the old config option names:
* `separateMajorReleases`
* `separatePatchRel

[2019-03-15 05:14] #105 closed

[2019-03-15 05:16] rarkins commented on #105
@BrianChristie thanks for the detailed summary - I hadn't noticed this problem. What I decided to do was leave the old preset names and just change the config inside them. As you noted, we need to leave the old ones in place anyway for backwards-compatibility, so I decided to choose for "Keep old preset names which you could argue are outdated but actually still describe their purpose pretty well"

[2019-03-15 13:07] #90 closed

[2019-04-22 18:08] damusnet opened #114 "Next.js monorepo should group next and next-server"
Hello,

I saw an update to the [Next.js monorepo definition](https://github.com/renovatebot/presets/commit/b724bb28ffba999578529933f221560e4dd05395) recently, but somehow `next` and `next-server` upgrades still occur separately:

![image](https://user-images.githubusercontent.com/433409/56516255-f3bdf600-6507-11e9-8c1d-384b25d298eb.png)

Can we group them please?

[2019-04-22 19:26] rarkins commented on #114
The `next-server` package has incomplete metadata and gives no indication of its source repository ([ref](http://registry.npmjs.org/next-server)). I've submitted this pull request to correct it: https://github.com/zeit/next.js/pull/7105

If the PR is not accepted in a timely manner then we could add a manual workaround to define the group by package names rather than source.

[2019-04-22 19:58] damusnet commented on #114
@rarkins sounds good! Thanks for taking care of it! Looks like it was merged immediately!

[2019-04-22 19:58] #114 closed

[2019-05-14 13:20] Roms1383 opened #122 "Configure different emoji depending on commitMessageAction"
### Which Renovate are you using? CLI, App, or Pro

Looking forward to use Renovate App, but not yet merged the first PR.

### Which platform are you using? GitHub, GitLab, Bitbucket Azure DevOps

GitHub organization with public repositories in becoming.

### Have you checked the logs? Don't forget to include them if relevant

Not yet, as I haven't installed it yet.

### Context

So, I'm currently

[2019-05-14 13:26] Roms1383 commented on #122
By the way I already saw a sample from this [preset](https://github.com/gluons/renovate-config-gluons/blob/master/package.json#L44) but the developer only setup the same emoji to all commits / PRs. My idea would be to use a relevant emoji depending on `commitMessageAction`.

[2019-05-14 13:48] rarkins commented on #122
Do it with packageRules and updateTypes:

[code]

The first one sets the defaults for the repo, including empty scope. Then the other two take precedence for pin and rollback.

[2019-05-15 07:42] Roms1383 commented on #122
That's dope @rarkins !!

[2019-05-15 07:47] Roms1383 commented on #122
Any place in the documentation to find the complete list of `semanticCommitType` ?

[2019-05-15 07:51] Roms1383 commented on #122
My bad, found it : major,minor,patch,pin,digest,lockFileMaintenance,rollback,bump
:)

[2019-05-15 08:02] Roms1383 commented on #122
Also I keep the discussion going a little bit, my questions might benefit others too : is there's a way to prevent Renovate to update the `package.json` version? (not the `dependencies` or `devDependencies` versions of course, but the version of the `package.json` itself, as I set it to `0.0.0-semantically-released` and rely on the Git tags, Github releases and NPM releases instead).

[2019-05-15 08:07] rarkins commented on #122
Renovate shouldn't update *your* `package.json` by default. It only updates it if you opt in with the [`bumpVersion`](https://renovatebot.com/docs/configuration-options/#bumpversion) option.

[2019-05-15 08:08] rarkins commented on #122
By the way, if you think that the way you use emoji's would be useful for others, please propose it as a reusable preset here: https://github.com/renovatebot/presets/blob/master/packages/renovate-config-default/package.json

[2019-05-15 08:09] Roms1383 commented on #122
Great :astonished:
I'll make a few experiments soon and either come back with more questions or close this thread!

[2019-05-15 08:09] Roms1383 commented on #122
If you think people might be interested, then I'll gladly contribute :+1:

[2019-05-15 08:37] rarkins commented on #122
A key question is: is this emoji semantic prefixing a standard or convention, or is this just more your personal style? If it's just a personal style, we probably don't want to add it to the default preset options. But if it's something that most using emoji would agree with, then it would be good to add.

[2019-05-15 20:17] Roms1383 commented on #122
I think that's what @carloscuesta is promoting for a while, using emoji which, past being fun/cute, are meaningful. Now I'm not sure the community has reached a consensus to state in details for each of them, for now I personally try to follow guidelines which make sense.

[2019-05-15 20:21] Roms1383 commented on #122
There's also less "fine-tuning" with a single emoji opposite to angular which offer both to state the kind of release (major, minor, patch) and the scope (chore, feature...) but nothing prevents to add a scope after the emoji in some way.

[2019-05-15 20:23] Roms1383 commented on #122
as for myself, I prefer having some emojis when reading commits history, I find it faster to parse, and more entertaining 😁

[2019-05-15 20:34] Roms1383 commented on #122
To explain what I had in mind, is :
- follow the big lines of what I've read here and there concerning Gitmoji (e.g. `:boom:` or `:collision:` are `major` release, `:sparkles:` is `minor`, others are mostly `patch` or ignored on purpose...)
- not update package.json (e. g. a single bump in version invalidate Docker build, which is annoying when no dependencies changed)
- and so on...

[2019-05-19 05:22] rarkins commented on #122
I think that the three you originally suggested (normal = arrow up, pin = pin, and rollback = arrow down) work well and we could add that as a "gitmoji" preset.

[2019-05-21 09:59] Roms1383 commented on #122
Actually from what I understood so far :
* `major`, `minor`, `patch` = `:arrow_up:`
* `pin`, `lockFileMaintenance` = `:pushpin:`

The ones I'm not so sure :
* `digest` = if it's setting Docker release to a specific digest I would probably suggest `:bookmark:` (if considered as tagging / releasing)
* `bump` = as I understood from your comment, this one should never happen, but if somebody enables i

[2019-05-21 10:02] rarkins commented on #122
I would lean towards `:arrow_up:` for nearly all of them, including lockFileMaintenance, digest and bump. All three of those are upgrading dependencies one way or another.

[2019-05-21 10:09] Roms1383 commented on #122
Conceptually `:arrow_up:` is when upgrading dependencies (to an upper version), whereas `:pushpin:` is pinning dependencies to specific versions. `:bookmark:` brings the notion of releasing or tagging. One thing to keep in mind too is that, for those who choose to automatically bump the version in `package.json` (as we used to in my former company), we for example associated the `:bookmark:`  with

[2019-05-26 12:20] Roms1383 commented on #122
When applying this `.renovaterc` :
[code]
I ended up having this issue created by renovate bot :
<img width="1048" alt="Screen Shot 2562-05-26 at 19 18 52" src="https://user-images.githubusercontent.com/21016014/58381751-3a14e200-7feb-11e9-958a-c9f639f40741.png">

What did I do wrong here ?

[2019-05-26 13:01] rarkins commented on #122
You need a selector in the first rule. Eg `packagePatterns: [“*”]`

[2019-05-26 13:03] rarkins commented on #122
Also as mentioned, you don't need it in a rule:

[code]

[2019-05-27 07:13] Roms1383 commented on #122
Works like a charm!

[2019-06-01 14:55] tanoabeleyra opened #123 "automergeType allowed values"
Hi,

I just started using Renovate and the doc about the allowed types for [automergeType](https://renovatebot.com/docs/configuration-options/#automergetype) is a bit confusing. It says that the allowed values are: `branch,pr,pr-comment`, but the preset uses two other values:

- [branch-merge-commit](https://github.com/renovatebot/presets/blob/master/packages/renovate-config-default/package.json#L

[2019-06-01 14:57] rarkins commented on #123
Those values are outdated, actually. We previously had two different ways to branch automerge but changed it to one. They should be changed to just point to value `branch` and one day deprecated.

[2019-06-01 15:02] tanoabeleyra commented on #123
So, both presets `automergeBranchMergeCommit` and `automergeBranchPush` will currently work as if `automergeType="branch"`?

[2019-06-01 15:08] rarkins commented on #123
Yeah, we have some code to "massage" them both to "branch". You should ideally just use "branch" now though. By the way, I also thought the existing documentation for `automergeType` was confusing so I rewrote it just now. The new description should be live within 5 minutes

[2019-06-01 15:14] tanoabeleyra commented on #123
Nice!, thank you for the quick response and congratulations for such a great product.

[2019-06-01 15:14] #123 closed

[2019-06-01 15:15] rarkins commented on #123
Thanks, I hope you enjoy using it

[2019-07-10 18:07] Feiyang1 opened #126 "Preset name not found within published preset config (group: allNonMajor)"
I'm getting an [issue](https://github.com/firebase/firebase-js-sdk/issues/1953) from renovatebot that says `Preset name not found within published preset config (group: allNonMajor)`. I have been using this preset successfully in other repos.

I'm using forking-renovate. This is the configuration file - https://github.com/firebase/firebase-js-sdk/blob/master/renovate.json

[2019-07-10 18:45] rarkins commented on #126
Usually this is an ephemeral issue (eg an npm glitch), although 18 hours ago is a long time. I’ll check the debug logs and let you know what I find.

[2019-07-11 06:46] rarkins commented on #126
It closed itself as I'd expected. I've also added a manual rule to give the `firebase` account above-average priority for scheduled jobs. Renovate wasn't running on it for every hour because (a) it was identified as on the free plan, and (b) there was no activity (changes to master, merged Renovate PRs, etc). But please continue to let me know in future if you see anything like this again on any o

[2019-07-11 06:47] #126 closed

[2019-07-17 14:21] simoneb opened #131 "Action Required: Fix Renovate Configuration"
I just received this issue from renovate on one repo where I have it enabled:

[code]

I don't have any custom preset configuration in my config, so I assume that something broke in Renovate presets. Any idea?

[2019-07-17 14:24] simoneb commented on #131
Indeed it's been caused by this: https://github.com/renovatebot/presets/commit/ab6976ca3860d9cdb156f225f9951cb1540f01a3#diff-99f2e4c80f455c7574d9f5b373cf4ec9. monorepo:babel6 disappeared, but we're not using it in our config anyway.

[2019-07-17 14:24] rarkins commented on #131
Sorry for that, it should resolve itself but I'll add a workaround too just in case.

[2019-07-17 14:25] simoneb commented on #131
Thanks

[2019-07-17 14:36] simoneb commented on #131
@rarkins how do we know when it's fixed? there's nothing telling us whether renovate is working or not, and the issue it opened is still there

[2019-07-17 14:36] simoneb commented on #131
@rarkins UPDATE: it actually got closed automatically now

[2019-07-17 14:44] rarkins commented on #131
Thanks for confirming - that was the expected behaviour

[2019-07-17 14:44] #131 closed

[2019-10-09 22:01] a-27m opened #142 "Add SpringFox monorepo"
This is a monorepo for a Spring-based API documentation tools. Please see PR #141

[2019-10-15 08:00] renovate[bot] opened #145 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid regExp for packageRules[0].packagePatterns: `eslint,prettier``

[2019-10-15 08:22] #145 closed

[2020-01-15 16:32] tomkerkhove opened #155 "Add group for .NET Core / ASP.Net Core Docker containers"
Microsoft is using a variety of Docker images on which .NET Core & ASP.NET Core applications depend, such as `mcr.microsoft.com/dotnet/core/sdk` & `mcr.microsoft.com/dotnet/core/aspnet`.

For Promitor I depend on those and receive update PRs, but they are seperated (example: https://github.com/tomkerkhove/promitor/pull/831 & https://github.com/tomkerkhove/promitor/pull/832) which is not ideal so I

[2020-01-16 09:42] rarkins commented on #155
@tomkerkhove it might be best to add them as an entry into https://github.com/renovatebot/presets/blob/master/packages/renovate-config-group/static-groups.js

In a way there are at least three tiers of package groupings I've seen:
- True monorepo. From the same repository and should always be updated together
- Related packages from different repositories but should always be updated together beca

[2020-01-16 10:34] tomkerkhove commented on #155
Thanks, I'll send a PR to add a new group!

[2020-01-16 13:56] tomkerkhove commented on #155
I've opened a PR, feel free to let me know if this would work but I'm not sure 😅

[2020-02-06 10:10] #142 closed

[2020-02-20 20:54] tmack8001 opened #170 "Unable To Generate MonoRepo Configurations"
When attempting to generate the source for monorepo configuration I get the following error:

[code]

Not the only user getting this error as @tomkerkhove also reported it here, https://github.com/renovatebot/presets/pull/169

[2020-02-21 05:53] #170 closed

[2020-02-21 05:53] rarkins commented on #170
I've added the lib to the `package.json` in the root directory of this repo. You need to run `yarn` here before running any generator commands within sub-packages. The same lib was already a transitive dependency of `renovate` itself but it's better to make it explicit.

[2020-02-21 07:17] tomkerkhove commented on #170
Thanks for the fix!

[2020-02-21 19:34] tmack8001 commented on #170
@rarkins should we update the readme.md to reference that need?
https://github.com/renovatebot/presets/tree/master/packages/renovate-config-monorepo#contributing just says to run `node generate`

[2020-02-25 09:40] viceice commented on #44
Sample rules: renovatebot/config-help#529

[2020-02-28 11:43] tomkerkhove commented on #170
I still have the same issue:
![image](https://user-images.githubusercontent.com/4345663/75545954-df9c2c80-5a27-11ea-8119-1aca95e8e192.png)

[2020-02-28 14:22] rarkins commented on #170
It looks like you’re running the install in the subdirectory instead of root directory

[2020-02-28 14:43] tomkerkhove commented on #170
Good point, sorry!

[2020-03-03 15:01] tomkerkhove opened #183 "Arcus monorepo not respected"
With #181 I've introduced mono repos for Arcus but it turns out I've probably misconfigured them given they are not respected.

Based on https://github.com/renovatebot/presets/blob/master/packages/renovate-config-monorepo/generate.js#L12 I would expect all of the packages from there to be updated in parallel.

However, multiple of them are opened:
![image](https://user-images.githubusercontent.com

[2020-03-03 19:56] rarkins commented on #183
Sorry, it hasn't been published yet. Automatically publishing is still on the todo list.

[2020-03-04 06:04] tomkerkhove commented on #183
No worries, just wanted to verify if I did something wrong!

Looks like it's working now, thanks!

[2020-03-04 06:05] #183 closed

[2020-04-27 12:51] #44 closed

[2020-04-27 12:58] rarkins opened #202 "Deprecate npm publishing"
Let's refactor this repo to be simpler and use github presets instead of a publishing step.

[2020-04-28 11:25] viceice commented on #11
superseeded by #202, so can be closed

[2020-04-28 11:42] #11 closed

[2020-04-28 11:43] #202 closed

[2020-04-28 12:56] rarkins opened #205 "Add validation test"
Ideally each PR should be validated to make sure it passes.

[2020-04-28 16:22] hogashi opened #207 "docs "Default Presets" page is 404"
It seems that "Default Presets" page in renovate documents site ( https://docs.renovatebot.com/presets-default/ ) returns 404:
![docs renovatebot com_presets-default_](https://user-images.githubusercontent.com/12870472/80510476-beb76f80-89b5-11ea-9ade-05a0385b6dca.png)

<details><summary><code>curl</code> result</summary>

[code]

</details>

I apologize if this issue was made in wrong repo. I don

[2020-05-01 07:58] tom-sherman opened #208 "Does anything need to be done on my end to receive the updated monorepo presets?"
A PR of mine was merged to add Reakit to the list of monorepos but I'm still getting seperate PRs for those packages. Do I need to update the bot my end to receive these updates?

[2020-05-01 09:23] rarkins commented on #208
All presets were moved into the main repo and should be active already.

https://github.com/renovatebot/renovate/blob/e1b4b7f6c220956a557d3decc361b31df9f9482f/lib/config/presets/internal/monorepo.ts#L94

If not working, maybe the packages don’t correctly specify their source repo?

[2020-05-01 10:09] tom-sherman commented on #208
They look to be configured correctly:

https://github.com/reakit/reakit/blob/master/packages/reakit-test-utils/package.json#L6

https://www.npmjs.com/package/reakit-utils

https://github.com/reakit/reakit/blob/master/packages/reakit-test-utils/package.json#L6

https://www.npmjs.com/package/reakit-test-utils

MRs for these on from a self hosted version of the renovate bot were opened on our Gitlab

[2020-05-01 10:21] rarkins commented on #208
Can you create a small reproduction in a public github.com repo? e.g. a package.json with two outdated reakit dependencies, such that you would expect them to be upgraded in the same PR?

[2020-05-01 11:18] tom-sherman commented on #208
Just set it up on a test repo (amazing setup UX by the way, took literally 30 seconds), and a PR has been opened with both packages included: https://github.com/tom-sherman/renovate-reakit-monorepo-issue/pull/2

Could there be some different behaviour going on in our self hosted version?

[2020-05-01 11:21] viceice commented on #208
@tom-sherman which version of renovate do you use?

[2020-05-01 11:39] tom-sherman commented on #208
19.114.0, we're now gonna update to see if that fixes it.

[2020-05-01 11:48] tom-sherman commented on #208
Updating to the most recent version has fixed it, renovate auto-closed the the two MRs and reopened a MR to update the reakit monorepo. Thanks for your help!

Is pulling them in at runtime a recent addition? In any case, we've added a cron job to update the bot to the latest version each night.

[2020-05-01 11:48] #208 closed

[2020-05-01 13:17] viceice commented on #208
Yes, we added them to be buildin recently, so you have to update renovate to get latest changes now

[2020-05-01 13:20] viceice opened #209 "Archive this repo"
As the presets are now buildin to renovate, we should add a depreciation note to the readme.

Some time later we should archive this repo, so it's readonly.

[2020-05-01 14:23] #12 closed

[2020-05-01 14:23] #61 closed

[2020-05-01 14:23] #73 closed

[2020-05-01 14:23] #122 closed

[2020-05-01 14:23] #155 closed

[2020-05-01 14:23] #205 closed

[2020-05-01 14:23] #209 closed